<% @photos.each do |photo| %>
  
  <img src="<%= photo %>" alt="random photo" /> 
  
  <form action='/generate/new' method='post'>
  <input name="image" value='<%= photo %>' type='hidden'/>
  <button>SELECT</button></form>

<% end %>