
<% @captions_url.each do |url, caption| %>
<img src="<%=url %>"/>
<p><%=caption %></p>
<div class = "container">

  <div><% @captions_url.each do |url, caption| %>
<img class= "displayed img-clr" src="<%=url %>"/>
<div class = "form-actions caption"><%=caption %></div>

<%end %>


  </div>
</div>
