
<body>
  <div class = "container">
    <ul class = "row">
      <li class = "col-sm-3">One</li>
      <li class = "col-sm-3">One</li>
      <li class = "col-sm-3">One</li>
    </ul>
  </div>
</body>
