
<body>
  <div class = "container">
    <div class = "row">
      <div class = "col-sm-4">
 
          <img src="<%= @photos[0].url %>" alt="random photo" />
          <p></p>
        

    </div>
      
      <div class = "col-sm-4">
       
          <img src="<%= @photos[1].url %>" alt="random photo" />
          <p></p>

          
      </div>
      <div class = "col-sm-4">
        
          <img src="<%= @photos[2].url %>" alt="random photo" />
       
      </div>
    </div>
  </div>

<hr>

  <section>
    <div class = "container">
      <div class = "row">
        <div class = "col-sm-4"> 
            <img src="" alt="random photo" />
         
      
      </div>
        <div class = "col-sm-4">
          
            <img src="" alt="random photo" />
          
   </div>
        <div class = "col-sm-4">
          
            <img src="" alt="random photo" />
          
        </div>
      </div>
    </div>

  </section>

</body>
