<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <link rel="stylesheet" href="/stylesheets/fontello.css">
  <link rel="stylesheet" href="/stylesheets/fontello-codes.css">
  <link rel="stylesheet" href="/stylesheets/fontello-embedded.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <link href="/stylesheets/application.css" rel="stylesheet">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <script src="/javascript/platform.js"></script>
  <script src="/javascript/webspeech.js"></script>


  <title>Caption it!</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-inverse navbar1">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand nav1" href="/"><span> <img class="img-logo" src="/captaincj.png"</img>CAPJUR</a></span>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href='/generate'>Create</a></li>
        <li><a href='/all'>All</a></li>
        <li><a href='/history'>My History</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>
  <%= yield %>
</body>
</html>
