<<<<<<< HEAD
 <form method="post" action="/show/caption/new">
  <label>caption here: </label> <input type="text" name="caption" value="<%= @caption.text %>"> 
  <button type="submit" class="button">Capjur it</button>
  </form>
=======
<a href="/"><img src="<%= @image.url %>" alt="random photo" /></a>


<form action="caption/new" method="post">
<input name="image_id" value='<%= @image.id %>' type='hidden'/>


<textarea name="text"></textarea>
<button>SUBMIT</button></form>
>>>>>>> master
