
<!-- <form action="/image/:id/show" method="post">
<input name="image_id" value='<%= @image.id %>' type='hidden'/>
</form> -->

<p><img src="<%= @image.url %>" alt="random photo" /></p>

<form method="post" action="/images/<%= @image.id %>/captions">
  <label for="text">caption here: </label>
  <textarea name="text"></textarea>
  <button type="submit" class="button">Capjur it</button>
</form>


